* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  color: white;
}
.d-flex {
  display: flex !important;
  margin: auto;
  width: 70%;
}

.Main-container {
  height: 100% !important;
  display: flex;
  justify-content: space-around;
  column-gap: 1rem;
}
.LeftContainer {
  width: 25vw;
  height: 90vh;
  margin-left: 1rem;
  overflow: scroll;
}
::-webkit-scrollbar {
  display: none;
}
.box-1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.eachMovie {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 8px;
}
.logo {
  width: 3.125rem;
  height: 3.125rem;
}

.logo-movie {
  width: 8rem;
  height: 8rem;
}

.movieTitle {
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
}
.RightSideContainer {
  width: 70vw !important;
  height: 90vh;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.imagePoster {
  display: flex;
  width: 95%;
  margin: 1.5rem auto;
  height: 50% !important;
  position: relative;
}
.logo-poster {
  object-fit: contain;
}
.detail-Movie {
  display: flex;
  flex-wrap: nowrap;
  height: 0 !important;
}
.logo-movie-1 {
  width: 9.375rem;
  height: 9.375rem;
  position: relative;
  object-fit: contain;
  top: -6.0625rem;
  left: 1rem;
}
.movie-Name {
  height: 0 !important;
  font-size: 1rem;
  font-weight: bold;
}

.movie-Description {
  width: 90%;
  height: 15rem;
  margin-top: 4.3125rem;
}
.btn-Group {
  display: flex;
  background: rgb(0, 0, 0);
  justify-content: space-between;
  position: sticky;
  bottom: 1.3125rem;
  height: 4rem;
}
.next {
  background-color: green;
  color: white;
  font-size: 10px;
  height: 1.5rem;
  width: 1.5rem;
  border: none;
  border-radius: 50%;
  margin-top: 1rem;
}
.next:hover {
  color: green;
  background-color: white;
}
.prev {
  background-color: blue;
  color: white;
  height: 1.5rem;
  width: 1.5rem;
  font-size: 10px;
  border: none;
  border-radius: 50%;
  margin-top: 1rem;
}
.prev:hover {
  color: blue;
  background-color: white;
}
.movie-Description p {
  text-transform: capitalize;
  font-size: 0.75rem;
  font-weight: bold;
}
